<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-image-card/cells-image-card.html">
<link rel="import" href="../cells-product-item/cells-product-item.html">
<link rel="import" href="../coronita-icons/coronita-icons.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="../cells-collapsible-list/cells-collapsible-list.html">
<link rel="import" href="cells-fastlunch-products-styles.html">
<dom-module id="cells-fastlunch-products">
  <template>
    <style include="cells-fastlunch-products-styles cells-fastlunch-products-shared-styles"></style>
    <template is="dom-if" if="[[!isOrdering]]" id="productInit">
      <template is="dom-repeat" items="[[productsType]]" id="cardItemList">
        <div on-click="_selectProductType">
          <cells-image-card heading="[[item.principalMessage]]" alt="[[item.secondMessage]]"
            image-url="[[item.imgUrl]]">
            <div slot="card-content">
              [[item.welcomeMessage]]
            </div>
          </cells-image-card>
        </div>
      </template>
    </template>
    <template is="dom-if" if="[[isOrdering]]">
      Elige tu plato
      <cells-st-button class="size-xs" on-click="changeType">
        <button>
          <span class="btn-contents content-centered" >
            <iron-icon class="btn-icon" icon="coronita:add"></iron-icon>
            <span class="btn-text">
              Ver [[otherType.name]]
            </span>
          </span>
        </button>
      </cells-st-button>

      <template is="dom-repeat" items="[[productList]]" id="productItemList">
        <cells-product-item id="productItem" name="[[item.name]]" img-src="[[item.imgSrc]]"
          description="[[item.description]]" primary-amount="[[item.primaryAmount]]" local-currency="PEN">
        </cells-product-item>
        <div id$="[[index]]_button" class="product-button-list show"> 
          <cells-st-button class="composed full" on-click="onClickProductAction" data-typeAction="add" data-index$="[[index]]" data-productId$="{{item.productId}}">
            <button>
              <span class="btn-contents content-centered">
                <iron-icon class="btn-icon" icon="coronita:add"></iron-icon>
                <span class="btn-text">
                  Agregar
                </span>
              </span>
            </button>
          </cells-st-button>
        </div>
        <div id$="[[index]]_button-count" class="product-button-list">
            <cells-st-button class="size-xs composed link" on-click="onClickProductAction" data-typeAction="sustract" data-index$="[[index]]" data-productId$="{{item.productId}}">
                <button>
                  <span>
                    <iron-icon class="btn-icon" icon="coronita:substract"></iron-icon>
                  </span>
                </button>
              </cells-st-button>
              <span id="[[index]]_count">{{item.count}}</span>
              <cells-st-button class="size-xs composed link" on-click="onClickProductAction" data-typeAction="add" data-index$="[[index]]" data-productId$="{{item.productId}}">
                  <button>
                    <span>
                      <iron-icon class="btn-icon" icon="coronita:add"></iron-icon>
                    </span>
                  </button>
                </cells-st-button>
                <hr style="height: 1px; background-color: #2a86ca;">
        </div>        
      </template>
        <cells-collapsible-list class ="footer-products" id="productsSummary" on-clean-list="_cleanProductsList" on-pay-list="_payProductsList" on-update-list="_updateList" on-show-collapsible-list="_showCollapsibleList" on-hide-collapsible-list="_hideCollapsibleList" on-show-maximum-alert="_showMaximumMessage" collapsed></cells-collapsible-list>
    </template>    
  </template>
  <script src="cells-fastlunch-products.js"></script>
</dom-module>