<dom-module id="cells-fastlunch-products-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-fastlunch-products; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

.product-button-list {
  display: none; }

.product-button-list.show {
  display: block; }

.footer-products {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

</style></template></dom-module>